<!DOCTYPE html>
<html lang="zh-cn">

<head>
    {% load static %} 
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" type="text/javascript"></script> 
    <script src="{% static 'js/WXLsearch.js' %}"></script> 

    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>索引</title>
</head>

<body>
    <h1>索引</h1>
    <form id="wxlform" action="" method="post" class="form-horizontal" role="form"> 
        <input id="submit2index" type="button" class="form-control btn btn-success" value="新建索引"> 
    </form>
</body>

</html>